.center {
  text-align: center;
}

footer#footer {
  a:hover {
    text-decoration: none;
  }

  .footer-bar {
    padding-top: 40px;
    padding-left: 35px;
    height: 117px;

    ul{
      li{
        font-size: 14px;
      }
    }

    .footer-bar-left {
      float: left;
      .dropdown.menu li {
        font-size: 32px;
      }
    }
    .footer-bar-right {
      float: right;
      .dropdown.menu {
        font-family: $adg3-font-family;
        font-size: 14px;
        }
        a {
          color: #fff;
        }
      }
    }

  .logo {
    background-image: url(/img/atlassian-logo-white.svg);
    display: block;
    position: relative;
    background-size: 152px 33px;
    width: 152px;
    height: 33px;
    cursor: pointer;
    margin-right: 5px;
    background-repeat: no-repeat;
  }
}
