li.search {
  top: -19px;
  position: relative;
  &:hover {
    background: $primary-nav-bg !important;
  }

  input {
    border-bottom: 2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    box-shadow: none;
    color: white;
    padding: 0 8px 0 20px;
    height: 23px;

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      padding-left: 10px;
      color: white;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      padding-left: 10px;
      color: white;
    }

    &:-ms-input-placeholder {
      /* IE 10+ */
      padding-left: 10px;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      padding-left: 10px;
      color: white;
    }

    &:focus {
      border-bottom: 2px solid white;
      border-top: none;
      border-left: none;
      border-right: none;
      background: transparent;
      box-shadow: none;
      color: white;
    }
  }

  .aui-icon.aui-icon-small.aui-iconfont-search{
    top: 20px;
    position: relative;
    vertical-align: middle;
  }

  .search-icon {
    display: block;
    width: 15px;
    height: 15px;
    top: 18px;
    position: relative;
    background: url(/img/icon-search.png);
    background-repeat: no-repeat;
  }
}
